<template> <a href="https://www.anrdoezrs.net/click-100425958-14022115" target="_top">NordPass</a><img src="https://www.tqlkg.com/image-100425958-14022115" width="1" height="1" border="0" /> </template>

<script>
export default {};
</script>

<style></style>
