<template>
	<div>
		<!-- 970 x 90 -->
		<a class="banner-970" href="https://www.tkqlhce.com/click-100425958-13868749" target="_top"> <img src="https://www.tqlkg.com/image-100425958-13868749" width="728" height="90" :alt="alt" border="0"/></a>
		<!-- <a class="banner-728" href="https://www.tkqlhce.com/click-100425958-13868749" target="_top"> <img src="https://www.tqlkg.com/image-100425958-13868749" width="728" height="90" alt="" border="0"/></a> -->
	</div>
</template>

<script>
	export default {
		computed: {
			alt() {
				return this.$store.getters.alt;
			},
		},
	};
</script>

<style scoped>
	/* @media only screen and (min-width: 970px) {
  .banner-728 {
    display: none;
  }
  .banner-970 {
    display: block;
  }
}
@media only screen and (min-width: 728px) {
  .banner-970 {
    display: none;
  }
  .banner-728 {
    display: block;
  }
} */
</style>
