<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8" />
		<meta https-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="icon" href="<%= BASE_URL %>favicon.png" />
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<title>NordPass</title>
		<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="password, password manager, password manager review, password manager download كلمة المرور ، مدير كلمات المرور ، مراجعة مدير كلمات المرور ، تنزيل مدير كلمات المرور" />

		<meta name="msvalidate.01" content="E3B4CDBB8D7981BD90578B6647DF1E77" />
		<meta name="google-site-verification" content="WsXaVxVfEVMaGW53iblJPy86xN5jnlaeXri_M4SNahQ" />

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600&family=Scheherazade&display=swap" rel="stylesheet" />

		<script type="application/x-javascript">
			addEventListener("load", function() {
			    setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
			    window.scrollTo(0, 1);
			}
		</script>
		<!----webfonts---->
		<link href="https://fonts.googleapis.com/css?family=Oswald:100,400,300,700" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic" rel="stylesheet" type="text/css" />
		<!----//webfonts---->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<!--end slider -->
		<!--script-->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<!--/script-->
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event) {
					event.preventDefault();
					$("html,body").animate(
						{
							scrollTop: $(this.hash).offset().top,
						},
						900
					);
				});
			});
		</script>
		<!---->
	</head>

	<body>
		<noscript>
			<strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
		</noscript>
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
</html>
