<template>
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span @click="closeModal" class="close">&times;</span>
			<p>Please, disable the AdBlock</p>
			<div class="text-center">
				<img src="../assets/Disable-Adblock.png" alt="" />
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		emits: ["modal-closed"],
		methods: {
			closeModal() {
				const modal = document.getElementById("myModal");
				modal.style.display = "none";
				this.$emit("modal-closed");
			},
		},
	};
</script>

<style>
	/* The Modal (background) */
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0, 0, 0); /* Fallback color */
		background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
	}

	/* Modal Content/Box */
	.modal-content {
		background-color: #fefefe;
		margin: 15% auto; /* 15% from the top and centered */
		padding: 20px;
		border: 1px solid #888;
		width: 80%; /* Could be more or less, depending on screen size */
	}

	/* The Close Button */
	.close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
</style>
