<template>
	<div class="single">
		<div v-if="rtl" class="container">
			<page-sidebar />
			<single-main />
		</div>

		<div class="container">
			<single-main />
			<page-sidebar />
		</div>
	</div>
</template>

<script>
	import PageSidebar from "./PageSidebar.vue";
	import SingleMain from "./SingleMain.vue";
	export default {
		components: { PageSidebar, SingleMain },
		computed: {
			rtl() {
				return false;
				// return this.$i18n.locale === "ar";
			},
		},
	};
</script>

<style scoped>
	.save-password {
		margin-top: 15px;
	}
	.save-password li {
		line-height: 2;
	}
	.m-10 {
		margin-top: 20px;
	}
	.uc {
		text-transform: uppercase;
		line-height: 1.5;
		font-size: 3em;
	}
</style>
