<template>
	<div class="row m-10">
		<div class="col-md-12">
			<h1 v-html="$t('h4')"></h1>
			<ul class="save-password">
				<li v-html="$t('p4-a')"></li>
				<li v-html="$t('p4-b')"></li>
			</ul>
		</div>
	</div>
</template>

<script>
	export default {};
</script>
