<template>
	<div class="comments">
		<h3>{{ $t("h7") }}</h3>
		<ul>
			<li>{{ $t("p7-a") }}</li>
			<li>{{ $t("p7-b") }}</li>
			<li v-html="$t('p7-c')"></li>
		</ul>
	</div>
</template>

<script>
	export default {};
</script>

<style></style>
