<template>
	<div class="row m-10">
		<div class="col-md-4">
			<a href="https://www.anrdoezrs.net/click-100425958-13869741" target="_top">
				<img src="https://www.lduhtrp.net/image-100425958-13869741" width="300" height="250" :alt="alt" border="0" />
			</a>
		</div>
		<div class="col-md-8">
			<h1 v-html="$t('h5')" class="uc"></h1>
			<h1 v-html="$t('h6')" class="uc"></h1>
			<h2 v-html="$t('h8')" class="uc"></h2>
		</div>
	</div>
</template>

<script>
	export default {
		computed: {
			alt() {
				return this.$store.getters.alt;
			},
		},
	};
</script>

<style></style>
