<template>
	<div class="lang" :class="{ 'lang-ar': rtl }">
		<button class="ar" @click="changeLang('ar')"></button>
		<button class="en" @click="changeLang('en')"></button>
	</div>
</template>

<script>
	export default {
		computed: {
			rtl() {
				return this.$i18n.locale === "ar";
			},
		},
		methods: {
			changeLang(lang) {
				localStorage.setItem("lang", lang);
				this.$i18n.locale = lang;
				document.location.reload();
			},
		},
	};
</script>

<style scoped>
	.lang {
		float: right;
		margin-right: 2em;
		margin-top: 10px;
		width: 83;
	}
	.lang-ar {
		float: left;
		margin-left: 2em;
		margin-top: 10px;
		width: 83;
	}
	.lang button {
		border: #ffffff 2px solid;
		min-width: 40px;
		min-height: 40px;
		padding: 0;
		background-position: center;
		background-size: 40px 40px;
		background-repeat: no-repeat;
		background-origin: content-box;
		background-clip: padding-box;
	}
	.lang button.ar {
		background-image: url("../assets/flags/ar.jpg");
	}
	.lang button.en {
		background-image: url("../assets/flags/en.jpg");
	}

	@media only screen and (max-width: 600) {
		.lang {
			margin-right: 0 !important;
			margin-top: 0;
			width: 33;
		}
		.lang button {
			min-width: 15px;
			min-height: 15px;
		}
	}
</style>
