<template>
	<div class="row">
		<div class="col-md-4">
			<a href="https://www.jdoqocy.com/click-100425958-13868747" target="_top">
				<img src="https://www.tqlkg.com/image-100425958-13868747" width="300" height="250" :alt="alt" border="0" />
			</a>
		</div>
		<div class="col-md-8">
			<h1 v-html="$t('h3')"></h1>
			<ul class="save-password">
				<li v-html="$t('p3-a')"></li>
				<li v-html="$t('p3-b')"></li>
			</ul>
		</div>
	</div>
</template>

<script>
	export default {
		computed: {
			alt() {
				return this.$store.getters.alt;
			},
		},
	};
</script>
