<template>
	<div>
		<div class="col-md-4 side-content" :class="{ 'side-content-rtl': rtl }">
			<div class="recent">
				<a href="https://www.anrdoezrs.net/click-100425958-13904782" target="_top">
					<img src="https://www.lduhtrp.net/image-100425958-13904782" width="336" height="280" :alt="alt" border="0" />
				</a>
			</div>
			<how-work />
			<div class="clearfix"></div>
			<div class="archives">
				<a href="https://www.anrdoezrs.net/click-100425958-13904781" target="_top">
					<img src="https://www.tqlkg.com/image-100425958-13904781" width="300" height="600" :alt="alt" border="0" />
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</template>

<script>
	import HowWork from "./HowWork.vue";
	export default {
		components: { HowWork },
		computed: {
			rtl() {
				return this.$i18n.locale === "ar";
			},
			alt() {
				return this.$store.getters.alt;
			},
		},
	};
</script>

<style scoped>
	.side-content-rtl {
		float: left !important;
	}
</style>
