<template>
	<div class="footer">
		<div class="container" v-html="$t('footer')"></div>
	</div>
</template>

<script>
	export default {};
</script>

<style scoped>
	p > a {
		color: #6bb6b1;
	}
	p > a:hover {
		color: #6bb6b1;
	}
</style>
