<template>
	<div class="header">
		<div v-if="rtl" class="container">
			<lang-buttons />
			<page-logo />
		</div>
		<div v-else class="container">
			<page-logo />
			<lang-buttons />
		</div>
	</div>
</template>

<script>
	import LangButtons from "./LangButtons.vue";
	import PageLogo from "./PageLogo.vue";
	// import jQuery from "../assets/js/jquery.min.js";

	export default {
		components: { LangButtons, PageLogo },
		methods: {
			toggleSlide() {
				// jQuery(".top-menu ul").slideToggle("slow", function() {});
			},
		},
		computed: {
			rtl() {
				return this.$i18n.locale === "ar";
			},
		},
	};
</script>

<style scoped>
	.search {
		display: none !important;
	}
</style>
