<template>
	<div class="logo" :class="{ 'logo-ar': rtl }">
		<a href="https://www.kqzyfj.com/click-100432159-13868738" target="_top">
			<img src="../assets/logo.jpg" :alt="alt" border="0" />
		</a>
	</div>
</template>

<script>
	export default {
		computed: {
			rtl() {
				return this.$i18n.locale === "ar";
			},
			alt() {
				return this.$store.getters.alt;
			},
		},
	};
</script>

<style scoped>
	.logo > a > img {
		width: 272px;
		height: 60px;
	}

	.logo-ar {
		float: right !important;
		margin-right: 2em !important;
	}

	@media only screen and (max-width: 600) {
		.logo {
			padding: 0 !important;
			margin: 0 !important;
		}
		.logo > a > img.original {
			display: none;
		}
		.logo > a > img.small {
			display: block;
		}
	}
</style>
