<template>
	<div>
		<wide-banner />
		<h1 v-html="$t('h1')"></h1>
		<p v-html="$t('p1')"></p>

		<h1 v-html="$t('h2')"></h1>
		<p v-html="$t('p2')"></p>
	</div>
</template>

<script>
	import WideBanner from "../links/WideBanner.vue";

	export default {
		components: { WideBanner },
	};
</script>

<style scoped>
	.single-grid p {
		font-family: "Lato", sans-serif;
		color: #9a9da0;
		font-size: 1.25em;
		line-height: 1.8em;
		margin: 1em 0;
		text-align: justify;
	}
	.single-grid h1 {
		margin-top: 15px;
		color: #424446;
	}

	/* p a:hover {
		color: #424446;
	}

	p > a:hover {
		color: #42a5a1 !important;
	} */
</style>
