<template>
	<div class="col-md-8 single-main" :class="{ 'single-main-ar': rtl }">
		<div class="single-grid">
			<password-manager />
			<login-faster />
			<effortless-shopping />
			<improve-security />
		</div>
	</div>
</template>

<script>
	import EffortlessShopping from "./EffortlessShopping.vue";
	import ImproveSecurity from "./ImproveSecurity.vue";
	import LoginFaster from "./LoginFaster.vue";
	import PasswordManager from "./PasswordManager.vue";

	export default {
		components: { PasswordManager, LoginFaster, EffortlessShopping, ImproveSecurity },
		computed: {
			rtl() {
				return this.$i18n.locale === "ar";
			},
		},
	};
</script>

<style scoped>
	.single-main-ar {
		float: right !important;
	}
</style>
