<template>
	<div>
		<page-header />
		<blog-container />
		<page-footer />
		<adblocker-modal ref="modal" @modal-closed="onModalClosed" />
	</div>
</template>

<script>
	import { detectAnyAdblocker } from "vue-adblock-detector";
	import AdblockerModal from "./components/AdblockerModal.vue";
	import PageHeader from "./components/PageHeader.vue";
	import PageFooter from "./components/PageFooter.vue";
	import BlogContainer from "./components/BlogContainer.vue";
	import detectBrowserLanguage from "detect-browser-language";

	export default {
		name: "App",
		components: { AdblockerModal, PageHeader, PageFooter, BlogContainer },
		data() {
			return {
				locale: "en",
			};
		},
		methods: {
			openModal() {
				this.$refs.modal.$el.style.display = "block";
			},
			onModalClosed() {
				setTimeout(() => {
					this.detectAdblocker();
				}, 5000);
			},
			detectAdblocker() {
				detectAnyAdblocker().then((detected) => {
					if (detected) {
						this.$refs.modal.$el.style.display = "block";
					}
				});
			},
		},
		mounted() {
			this.locale = localStorage.getItem("lang");
			if (this.locale === null) {
				const detectedLocale = detectBrowserLanguage().substring(0, 2);
				this.locale = detectedLocale;
				localStorage.setItem("lang", this.locale);
			}
			this.$i18n.locale = this.locale;

			document.title = this.$t("title");
			document.documentElement.lang = this.locale;
			if (this.locale === "ar") {
				document.documentElement.dir = "rtl";
				document.querySelectorAll("h1").forEach((e) => {
					e.style.fontFamily = "Cairo";
				});
				document.querySelectorAll("h2").forEach((e) => {
					e.style.fontFamily = "Cairo";
				});
			}

			setTimeout(() => {
				this.detectAdblocker();
			}, 5000);
		},
	};
</script>

<style>
	.nordpass,
	.nordpass:visited {
		color: inherit;
		text-decoration: none;
	}
	.nordpass:hover {
		color: #42a5a1;
		text-decoration: none;
	}
	ul.save-password li,
	h1.uc {
		line-height: 2.2;
		text-transform: uppercase;
	}
</style>
